In [1]:
print("hello!python")

hello!python

In [4]:
#四種資料類型
n = 10    #整數INT
m = 5.0   #浮點數Float
name = "Emily"   #字串str
is_google = True   #布林值 True 和 Fluse

In [5]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
Emily
True

In [17]:
#tuple
t1 = (1, 2, 3, 4, 5)
t1

#type類型是內建功能,以下做了2件事先是確認type類型再輸出值
print(type(t1))

t2 = ("a" , "b" ,"c")
t2

# 測試tuple中的內容不可修改,執行結果顯示錯誤
t2[0] = "d"

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [20]:
# tuple只是一個暫時資料
# tuple的內容不可以修改
# tuple最常使用在拆解法(拆解tuple,給變數)
# tuple 拆解法一次拆解多個變數

(name,chinese, math, english)= ("Emily", 78, 92, 65)

In [19]:
print(name)
print(chinese)
print(math)
print(english)

Emily
78
92
65

In [9]:
name = "jerry"
print(name)

jerry